.letter{
    border: 3.5px solid black
}
.wins-text{
    border: 3.5px solid black
}
.losses-text{
    border: 3.5px solid black
}
.guessesleft-text{
    border: 3.5px solid black
}
.userguess-text{
    border: 3.5px solid black
}